.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 20px; /* Add padding to space out the links */
    font-size: 18px;
    position: sticky;
    top:0px;
    z-index: 2;
  }
  
  .nav div {
    cursor: pointer;
  }
  .nav div:hover {
    background-color: #555;
  }
  .nav-right{
    display: flex;
    gap:3.5rem
  }